@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
*{padding:0;margin:0; }
body,html{padding:0;margin:0;/*font-family:Roboto !important;*/}
.header_main{width:100%;height:auto;overflow:auto;margin-top:30px;}
/*.logo{height:58px;padding:0}
.logo img{height: 58px;}*/
.main_wapper{ position:absolute;top:0px !important; width:100%; height:100%; overflow:auto}
.navbar-fixed-top {top: 30px !important;min-height: 56px;}
.active{background:#0a76ec;color:#fff !important;border-left: 1px solid #1d5693;border-right: 1px solid #1d5693;}
.right_part{width:190px;height:490px;/*background:url('../images/right_bg.png');*/margin-right:57px;margin-top:25px;float:right;z-index:9999999 !important;
position: relative;}
.right_part ul li{list-style:none; width:119px; height:119px; background:rgba(204,102,0,0.8); border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;-o-border-radius:100px;-webkit-border-radius:100px;margin: 21px 0px 47px 0px;color:#fff; line-height:19px; text-transform:uppercase; font-size:13px; text-align:center; font-weight:bold; padding-top:43px; outline:none !important;transition-duration:1s}
.right_part ul li:hover{width:150px; height:150px;outline:none !important; transform:rotate(360deg); font-size:16px;padding-top:55px; background:#1d5693; transition-duration:1s}
.right_part a{text-decoration:none;outline:none !important;}
.amazingslider-title-1{color: #fff !important;background-color: rgba(0,0,0,0.6) !important;padding: 10px !important;margin: 0px auto !important;font-size: 35px !important;font-weight: bold !important;font-style: normal !important;margin-left: 50px !important;padding-left: 25px !important;padding-bottom:70px !important;padding-right: 30px !important;text-transform: uppercase;width:58%;}
.navbar-toggle{margin-right: -15px;}
.new_arrivals{width:100%;height:auto; display:inline-block; margin-top:0px;z-index:999 !important;position:relative;}
.new_arrivals_icon{background:#00439d; height:65px; padding:0; width:5%}
.new_arrivals_icon_bottn{background:#055ab7; height:65px; font-size:14px;text-transform:uppercase;font-weight:bold;color:#fff;line-height:65px;text-align:center;}
.new_arrivals_icon_bottn_last{width:13%;}
.new_arrivals_icon_bottn_first{width:12%;}
.new_arrivals_icon_bottn:hover{background:#fff;color:#000; cursor:pointer}
#new_arrivals1,#new_arrivals2,#new_arrivals3,#new_arrivals4,#new_arrivals5{background:#fff;padding:0;position:absolute; margin-top:-136px;}
.new_arrivals_icon_active{background:#fff;color:#000;}
.footer_main{width:100%; height:auto; margin-top:50px;background:#222222}
.footer_left{color:#7d7d7d; font-size:14px; line-height:65px;}
.footer_right{color:#7d7d7d; font-size:14px; line-height:65px; text-align:right}
.poweredlogo {width:54px;height:29px;background:url(../images/powerdelogo.png) center top no-repeat;display:inline-block;position:relative;z-index:11;bottom:-4px;margin-left:5px;}
/*.footer_left a{color:#fff;}
.footer_left a:hover{color:#fff;}*/
/**********contact page***************/
.banner_inner img{width:100%}
.shadow{width:100%; height:auto;} .shadow img{width:100%; height:auto}
.contact_head{height:auto;font-size:34px;color:#000;text-align:center;line-height:40px;margin-top:35px;font-weight:bold;}
.contact_head_sub{text-align:left;height:auto;font-size:30px;color:#000;margin-top:0px;font-weight:bold; padding-left:0;text-transform: uppercase;}
.about_left ul{margin-top:10px;float:left;width:100%;}
.about_left ul li{ list-style:none; margin:10px 0px}
.contact_underline{height:auto;text-align:center; margin-top:5px}
.Enqry input[type=text],.Enqry select[type=text],.Enqry input[type=email],.Enqry input[type=password],.Enqry input[type=file],.Enqry input[type=number] {width:100%;height:40px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#f2f2f2;margin-bottom:15px;font-size:14px;color:#000;outline:none}
.Enqry input[type=text]:focus,.Enqry select[type=text]:focus,.Enqry input[type=email]:focus,.Enqry input[type=password]:focus,.Enqry input[type=file]:focus{background:#fff; border:1px solid #1d5693}
.Enqry textarea{max-width:100%;min-width:100%;max-height: 170px;min-height: 170px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#f2f2f2;margin-bottom:15px;font-size:14px;color:#000;padding-top:10px;outline:none; resize:none}
.Enqry textarea:focus{background:#fff; border:1px solid #1d5693}
.refrsh{width:50px;height:50px;float:left;margin:0px 15px 0px 15px;transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.refrsh:hover{transform:rotate(360deg);transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.more{width:130px;height:36px; border-radius:5px;background:;text-align:center;line-height:36px;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0;}
.more1{width:130px;height:36px; border-radius:6px;background:#fff;text-align:center;line-height:36px;text-transform:uppercase;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0; border:1px solid #005c6d;transition-duration:1s; border: 1px solid #ccc; outline:none}
.more1:hover{color:#fff;background:#0b488b;border: 1px solid #005c6d; transition-duration:1s}
.more:hover{ text-decoration:none;color:#000}
.cont_sbmt{width:140px !important}
/***********inner pages****************/
.mission{ padding:0}
.mission_icon{width:80px;height:80px;background:#525151; color:#fff; float:left; text-align:center; margin-right:10px; transition-duration:1s}
.mission_icon i{font-size: 40px;line-height: 80px;}
.mission:hover .mission_icon{background:#1d5693; border-radius:200px; color:#fff; transform:rotate(360deg);transition-duration:1s}
.mission:hover .mission_content h3{color:#1d5693; transition-duration:1s} 
.mission_content{height:auto; margin-bottom:20px}
.mission_content h3{font-size:19px;margin-top:0;font-weight:bold;text-transform: uppercase; color:#000}
.mission_content p{line-height:24px;font-size:14px; text-align:justify}
.inner_main{margin-bottom:20px;margin-top:30px;}
.offer_items{ height:auto; border:1px dashed #ccc; padding:0; margin-bottom:20px;transition-duration:1s}
.offer_items:hover{border:1px dashed #035bc1;transition-duration:1s}
.offer_items:hover .offer_items_content h3{color:#4591ef; transition-duration:1s}
.offer_items_image,.offer_items_content{ padding:10px}
.offer_items_image img{ width:100%;min-height: 157.7px;}
.offer_items_content h3{font-size:19px;margin-top:10px;font-weight:bold;color:#000}
.offer_items_content p{line-height:24px;font-size:14px; text-align:justify; color:#525252; margin-bottom:0}
.offer_items_content a{text-decoration:none;color:#676767;font-weight:bold;float:right; outline:none;transition-duration:1s}
.offer_items_content a:hover{color:#035bc1;transition-duration:1s}
.gallery_item_content{width:100% !important; height:auto !important; overflow: auto; background:#fff !important; border:1px dashed #B6B3B3; border-top:none; display:block !important; color:#B6B3B3 !important;padding:4px 0px;transition-duration:1s}
.gallery_item_content h4{width:100%;float:left;text-align:center !important;font-size:16px;color: #1784b7;transition-duration:1s}
.gallery_item_content p{font-weight: normal !important;font-size: 12px;padding: 10px;line-height: 22px;color: #605f5f;transition-duration:1s}
#g_item_main:hover .gallery_item_content{background:#06C !important; border:1px solid #001f40; border-top:none;color:#fff !important;transition-duration:1s}
#g_item_main:hover .gallery_item_content h4,#g_item_main:hover .gallery_item_content p{color:#fff;transition-duration:1s}
#g_item_main:hover .vlb_zoom{ opacity:0.6 !important;transition-duration:1s} 
.new_idea_categories{ padding:0}
.new_idea_categories ul li{list-style:none; background:#c1c1c1;color:#000;text-transform:uppercase;margin-top:5px; outline:none;height: 46px;
line-height:46px;transition-duration:1s}
.new_idea_categories ul li a{text-decoration:none;outline:none; width:100% !important;height:100%;display: block; padding-left:15px}
.new_idea_categories ul li:hover, .new_idea_categories ul .active{background:#06C !important; color:#fff;transition-duration:1s}
.new_idea_categories ul .active a{color:#fff;}
.new_idea_categories ul li a:hover{color:#fff}
.new_idea_categories .active span{}
.arrow-right{ display:none}
.new_idea_categories .active .arrow-right {
	display:block;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #06C;
	position: absolute;
    right: -17px;
    margin-top: -37px;
}
.navbar-inverse .navbar-nav > li > a{ outline:none !important}
#carousel-html5-lightbox{z-index: 99999999 !important;}
.modal-open .modal{z-index: 99999999;}
.new_offerr .active{color:#CC7A00 !important; border-left:6px solid #CC7A00}
