@media (max-width: 1199px){
	.container{ width:100% !important;}
	.footer_main{z-index: 9999 !important;position: relative;}
}
@media (max-width: 1120px){
.cont_sbmt {
    width: 140px !important;
}
}
@media (max-width: 1068px){.button_capcha{ width:100% !important; float:left;}}
@media (max-width: 1036px){
	.navbar-header,#bs-example-navbar-collapse-1,#menu_mainrk{ padding:0 !important}	
}
@media (max-width: 844px){
	.navbar-nav > li > a{font-weight:normal !important;}
	.nav > li > a{padding: 17px 10px !important;}
	
}
@media (max-width: 767px){
	.new_arrivals{margin-top:145px !important}
	.new_arrivals_icon_bottn_first {width: 100% !important;border-top: 1px solid #ccc;}
	.new_arrivals_icon_bottn_last {width: 100% !important;}
	.footer_left,.footer_right{ text-align:center !important}
	.header_main{position: relative;z-index: 9999;}
	#menu_mainrk{padding: 0px 20px !important;}
	#bs-example-navbar-collapse-1{ padding: 15px !important;}
	.new_arrivals_icon_bottn{height:35px !important;;font-size:12px !important;;line-height:35px !important;}
	.arrow-right{ display:none !important}
	.new_idea_categories ul li{border-bottom: 1px dashed #807F7F; margin-top:0 !important; padding: 6px !important;}
	#menu_mainrk .navbar-nav li a{padding: 10px !important;}
}
@media (max-width: 740px){
	.amazingslider-text-wrapper-1{display:none !important}
}
@media (max-width: 599px){
	.mission_icon{margin: 0px auto !important;}
}
@media (max-width: 539px){
	.mission_icon{text-align:center;margin-left:42% !important;margin-bottom:25px !important;}
	.mission_content{width:100%;text-align:center;}
}
@media (max-width: 500px){
	.footer_left{ line-height:22px !important; padding-top:10px}	
}
@media (max-width: 400px){
	#new_arrivals1,#new_arrivals2,#new_arrivals3,#new_arrivals4,#new_arrivals5{width: 92.5%;}
	}
@media (max-width: 360px){.more1{ width:100% !important; margin-top:10px !important}}
@media (max-width: 340px){
	#new_arrivals1{ width:90% !important}
	.mission_icon{margin-left: 36% !important;}
	.amazingcarousel-prev,.amazingcarousel-next{display:none !important}
}


