/* blue button large */
.as-btn-blue-large {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #009cde;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-blue-large:hover {
  	color: #fff;
  	background: #0285d2;
}

.as-btn-blue-large:focus {
  	outline: 0;
}

/* blue button medium */
.as-btn-blue-medium {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #009cde;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
}

.as-btn-blue-medium:hover {
  	color: #fff;
  	background: #0285d2;
}

.as-btn-blue-medium:focus {
  	outline: 0;
}

/* blue button small */
.as-btn-blue-small {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #009cde;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-blue-small:hover {
  	color: #fff;
  	background: #0285d2;
}

.as-btn-blue-small:focus {
  	outline: 0;
}

/* blue border large */
.as-btn-blueborder-large {
  	display: inline-block;
  	border: 2px solid #009cde;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #009cde;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-blueborder-large:hover {
  	color: #fff;
  	background: #009cde;
}

.as-btn-blueborder-large:focus {
  	outline: 0;
}

/* blue border medium */
.as-btn-blueborder-medium {
  	display: inline-block;
  	border: 2px solid #009cde;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #009cde;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
}

.as-btn-blueborder-medium:hover {
  	color: #fff;
  	background: #009cde;
}

.as-btn-blueborder-medium:focus {
  	outline: 0;
}

/* blue border small */
.as-btn-blueborder-small {
  	display: inline-block;
  	border: 2px solid #009cde;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #009cde;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-blueborder-small:hover {
  	color: #fff;
  	background: #009cde;
}

.as-btn-blueborder-small:focus {
  	outline: 0;
}

/* orange button large */
.as-btn-orange-large {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #f7a020;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-orange-large:hover {
  	color: #fff;
  	background: #ffc030;
}

.as-btn-orange-large:focus {
  	outline: 0;
}

/* orange button medium */
.as-btn-orange-medium {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #f7a020;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 55px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
	position:absolute;
	    margin-left: 76px;    margin-top: -65px;
}

.as-btn-orange-medium:hover {
  	color: #fff;
  	background: #ffc030;
}

.as-btn-orange-medium:focus {
  	outline: 0;
}

/* orange button small */
.as-btn-orange-small {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #f7a020;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-orange-small:hover {
  	color: #fff;
  	background: #ffc030;
}

.as-btn-orange-small:focus {
  	outline: 0;
}

/* orange border large */
.as-btn-orangeborder-large {
  	display: inline-block;
  	border: 2px solid #f7a020;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #f7a020;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-orangeborder-large:hover {
  	color: #fff;
  	background: #f7a020;
}

.as-btn-orangeborder-large:focus {
  	outline: 0;
}

/* orange border medium */
.as-btn-orangeborder-medium {
  	display: inline-block;
  	border: 2px solid #f7a020;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #f7a020;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
}

.as-btn-orangeborder-medium:hover {
  	color: #fff;
  	background: #f7a020;
}

.as-btn-orangeborder-medium:focus {
  	outline: 0;
}

/* orange border small */
.as-btn-orangeborder-small {
  	display: inline-block;
  	border: 2px solid #f7a020;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #f7a020;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-orangeborder-small:hover {
  	color: #fff;
  	background: #f7a020;
}

.as-btn-orangeborder-small:focus {
  	outline: 0;
}

/* white button large */
.as-btn-white-large {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #fff;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #444;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-white-large:hover {
  	color: #fff;
  	background: #444;
}

.as-btn-white-large:focus {
  	outline: 0;
}

/* white button medium */
.as-btn-white-medium {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #fff;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #444;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
}

.as-btn-white-medium:hover {
  	color: #fff;
  	background: #444;
}

.as-btn-white-medium:focus {
  	outline: 0;
}

/* white button small */
.as-btn-white-small {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #fff;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #444;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-white-small:hover {
  	color: #fff;
  	background: #444;
}

.as-btn-white-small:focus {
  	outline: 0;
}

/* white border large */
.as-btn-whiteborder-large {
  	display: inline-block;
  	border: 2px solid #fff;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-whiteborder-large:hover {
  	color: #444;
  	background: #fff;
}

.as-btn-whiteborder-large:focus {
  	outline: 0;
}

/* white border medium */
.as-btn-whiteborder-medium {
  	display: inline-block;
  	border: 2px solid #fff;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
}

.as-btn-whiteborder-medium:hover {
  	color: #444;
  	background: #fff;
}

.as-btn-whiteborder-medium:focus {
  	outline: 0;
}

/* white border small */
.as-btn-whiteborder-small {
  	display: inline-block;
  	border: 2px solid #fff;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: transparent;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	vertical-align: baseline;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-whiteborder-small:hover {
  	color: #444;
  	background: #fff;
}

.as-btn-whiteborder-small:focus {
  	outline: 0;
}

/* navy button large */
.as-btn-navy-large {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #334455;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 10px 16px;
	font-size: 24px;
	font-weight: 300;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

.as-btn-navy-large:hover {
  	color: #fff;
  	background: #445566;
}

.as-btn-navy-large:focus {
  	outline: 0;
}

/* navy button medium */
.as-btn-navy-medium {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #334455;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
}

.as-btn-navy-medium:hover {
  	color: #fff;
  	background: #445566;
}

.as-btn-navy-medium:focus {
  	outline: 0;
}

/* navy button small */
.as-btn-navy-small {
  	display: inline-block;
  	border: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	background: #334455;
  	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
  	color: #fff;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	text-shadow: none;
  	text-transform: none;
  	white-space: nowrap;
  	-webkit-font-smoothing: antialiased;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.as-btn-navy-small:hover {
  	color: #fff;
  	background: #445566;
}

.as-btn-navy-small:focus {
  	outline: 0;
}